* {
  padding: 0px; 
  margin: 0px;
  box-sizing: border-box;
}

html{
  background: #30105e;
    background-size: cover;
    background-attachment: fixed;
}

.admin-add-film {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.admin-add-film h2{
  color: #fff;
}