
.card {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 200px;
    height: 200px;
    gap: 100px;
    box-sizing: border-box;
    
    

} 
.image {
    float: right;
    
}
.image img {
    width: 200px;
    height: 200px;
}

.content {
    float: left;
}