*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 46px;
    background-color: #30105E;
    position: fixed;
    top: 0;
    left: 0; right:0;
    z-index: 1;
}

#header{
    background-color: #30105E;
}

#nav-header{
    display: inline-block;
}

#nav-header li{
    display: inline-block;
    line-height: 46px;
    position: relative;
    text-decoration: none;
}

#nav-header li a{
    text-decoration: none;
    line-height: 46px;
    font-weight: 100px;
    padding: 0px 24px;
    color: white;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
}

#nav-header li:hover a {
    text-decoration: underline;
    /* color: black */
}

#header .search-btn{
    float: right;
    color: white;
    line-height: 46px;
    padding: 0 26px;
}

#body{
    font-size: 100px;
}


#footer{
    font-size: 100px;
}
<<<<<<< Updated upstream
=======
#footer {
  font-size: 100px;
}
#slider-container{
  width: 100%;
  height: 466px;
}

.slider-container{
  height: 466px;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
  margin: auto;
  margin-top: 4.5em;
  
}
.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #474957;
  border-radius: 50px;
  margin: 0 .2em 1em;
  transition: all .3s ease;
  
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("../images/slider1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-2 {
  background-image: url("../images/slider2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-3 {
  background-image: url("../images/slider3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.broadcast{
  height: 1000px;
}
>>>>>>> Stashed changes
