
.featureProduct{
    margin: 100px 40px;
    box-sizing: initial;
    background-color: white;
    background-origin: border-box;
    border-radius: 20px;
    color: aliceblue;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
  
      h1 {
        flex: 2;
        text-transform: capitalize;
      }
  
      p{
        flex:3;
        color:gray
      }
    }
  
    .bot{
      display: flex;
      justify-content: center;
      gap: 50px;
    }
}